In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
#Distric Summary Calculations
total_schools = school_data["school_name"].count()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_mathscore =(school_data_complete["math_score"].mean())
average_readingscore =(school_data_complete["reading_score"].mean())
passingm = school_data_complete.loc[school_data_complete["math_score"] > 69]
passingmcount = len(passingm["Student ID"].unique())
math_percent = "{:.2f}%".format(passingmcount / total_students * 100)
passingr = school_data_complete.loc[school_data_complete["reading_score"] > 69]
passingrcount = len(passingr["Student ID"].unique())
read_percent = "{:.2f}%".format(passingrcount / total_students * 100)
pass_count = school_data_complete.loc[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69),"Student ID"].count()
pass_percent = "{:.2f}%".format(pass_count/ total_students * 100)

In [6]:
#Distric Summary table creation
district_summary_table = pd.DataFrame({"Total Schools": [total_schools],
                                       "Total Students":[total_students],
                                       "Total Budget":[total_budget],
                                       "Average Mathscore":[average_mathscore],
                                       "Average Reading Score":[average_readingscore],
                                       "% Passing Math":[math_percent],
                                       "% Passing Reading":[read_percent],
                                       "% Overall Passing":[pass_percent]})
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${0:,.2f}".format)
district_summary_table.head()

,Total Schools,Total Students,Total Budget,Average Mathscore,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

In [7]:
#School summary data localization
schools = school_data_complete.groupby(["school_name"])
schoolname = school_data_complete.school_name.sort_values().unique()
schooltype = school_data.sort_values(by="school_name").type
schoolstudents = list(schools.student_name.count())
schoolbudget = list(schools.budget.mean())
budgetperstudent = [i/j for i,j in zip(schoolbudget,schoolstudents)]
schoolavgm = list(schools.math_score.mean())
schoolavgr = list(schools.reading_score.mean())
#Calculations
schools = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
mathpass = [(i/j)*100 for i,j in zip(schools.math_score.count(),schoolstudents)]
schools = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
readingpass = [(i/j)*100 for i,j in zip(schools.reading_score.count(),schoolstudents)]
passingoverall = [(i+j)/2 for i,j in zip(mathpass,readingpass)]

In [8]:
#School summary table creation
school_summary_table = pd.DataFrame({"School name":schoolname,
                                     "School type":schooltype,
                                     "Total Students":schoolstudents,
                                     "Total budget":schoolbudget,
                                     "Per Student Budget":budgetperstudent,
                                     "Average math score":schoolavgm,
                                     "Average reading score":schoolavgr,
                                     "% Passing Math": mathpass,
                                     "% Passing Reading":readingpass,
                                     "%Overall Passing":passingoverall})
#Table formatting
school_summary_table = school_summary_table.set_index("School name",drop=True)
school_summary_table["Total budget"] = school_summary_table["Total budget"].map("${0:,.2f}".format)
school_summary_table["Per Student Budget"] = school_summary_table["Per Student Budget"].map("${0:,.2f}".format)
school_summary_table["Average math score"] = school_summary_table["Average math score"].map("{0:,.2f}".format)
school_summary_table["Average reading score"] = school_summary_table["Average reading score"].map("{0:,.2f}".format)
school_summary_table["% Passing Math"] = school_summary_table["% Passing Math"].map("%{0:,.2f}".format)
school_summary_table["% Passing Reading"] = school_summary_table["% Passing Reading"].map("%{0:,.2f}".format)
school_summary_table["%Overall Passing"] = school_summary_table["%Overall Passing"].map("%{0:,.2f}".format)
school_summary_table

,School type,Total Students,Total budget,Per Student Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,%Overall Passing
School name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,%66.68,%81.93,%74.31
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%95.59
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%73.36
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,%68.31,%79.30,%73.80
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%95.27
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,%66.75,%80.86,%73.81
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,%92.51,%96.25,%94.38
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%73.50
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%73.64
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%95.27
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%73.29
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,%93.87,%95.85,%94.86
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%95.29
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%95.20
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,%93.33,%96.61,%94.97

In [9]:
#Top performing schools by passing rate
topbypassing = school_summary_table.sort_values(by="%Overall Passing", ascending=False).head(5)
topbypassing

,School type,Total Students,Total budget,Per Student Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,%Overall Passing
School name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%95.59
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%95.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%95.27
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%95.27
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%95.20

In [10]:
#Bottom performing schools by passing rate 
bottombypassing = school_summary_table.sort_values(by="%Overall Passing", ascending=True).head(5)
bottombypassing

,School type,Total Students,Total budget,Per Student Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,%Overall Passing
School name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%73.29
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%73.36
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%73.50
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%73.64
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,%68.31,%79.30,%73.80

In [11]:
#Math score by grade
def avemxgrade(grade):
    schools = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    schoolname = school_data_complete.school_name.sort_values().unique()
    schoolavgm = list(schools.math_score.mean())
    avgm_df = pd.DataFrame({"School Name":schoolname,
                            f"{grade} Average Math Score":schoolavgm})
    avgm_df = avgm_df.reset_index(drop=True)
    return avgm_df
g9 = avemxgrade('9th')
g10 = avemxgrade('10th')
g11 = avemxgrade('11th')
g12 = avemxgrade('12th')
mathscorexg = pd.merge(g9,g10,how='inner',suffixes=('',''))
mathscorexg = pd.merge(mathscorexg,g11,how='inner',suffixes=('',''))
mathscorexg = pd.merge(mathscorexg,g12,how='inner',suffixes=('',''))

#Formatting
mathscorexg["9th Average Math Score"] = mathscorexg["9th Average Math Score"].map("{0:,.2f}".format)
mathscorexg["10th Average Math Score"] = mathscorexg["10th Average Math Score"].map("{0:,.2f}".format)
mathscorexg["11th Average Math Score"] = mathscorexg["11th Average Math Score"].map("{0:,.2f}".format)
mathscorexg["12th Average Math Score"] = mathscorexg["12th Average Math Score"].map("{0:,.2f}".format)
mathscorexg = mathscorexg.set_index("School Name",drop=True)
mathscorexg

,9th Average Math Score,10th Average Math Score,11th Average Math Score,12th Average Math Score
School Name,,,,
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

In [12]:
#Reading score by grade
def averxgrade(grade):
    schools = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    schoolname = school_data_complete.school_name.sort_values().unique()
    schoolavgr = list(schools.reading_score.mean())
    avgr_df = pd.DataFrame({"School Name":schoolname,
                            f"{grade} Average Reading Score":schoolavgr})
    avgr_df = avgr_df.reset_index(drop=True)
    return avgr_df
g9 = averxgrade('9th')
g10 = averxgrade('10th')
g11 = averxgrade('11th')
g12 = averxgrade('12th')
readingscorexg = pd.merge(g9,g10,how='inner',suffixes=('',''))
readingscorexg = pd.merge(readingscorexg,g11,how='inner',suffixes=('',''))
readingscorexg = pd.merge(readingscorexg,g12,how='inner',suffixes=('',''))

#Formatting
readingscorexg["9th Average Reading Score"] = readingscorexg["9th Average Reading Score"].map("{0:,.2f}".format)
readingscorexg["10th Average Reading Score"] = readingscorexg["10th Average Reading Score"].map("{0:,.2f}".format)
readingscorexg["11th Average Reading Score"] = readingscorexg["11th Average Reading Score"].map("{0:,.2f}".format)
readingscorexg["12th Average Reading Score"] = readingscorexg["12th Average Reading Score"].map("{0:,.2f}".format)
readingscorexg = readingscorexg.set_index("School Name",drop=True)
readingscorexg

,9th Average Reading Score,10th Average Reading Score,11th Average Reading Score,12th Average Reading Score
School Name,,,,
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07