In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
#Distric Summary Calculations
total_schools = school_data["school_name"].count()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_mathscore = "{:.2f}%".format(school_data_complete["math_score"].mean())
average_readingscore = "{:.2f}%".format(school_data_complete["reading_score"].mean())
passingm = school_data_complete.loc[school_data_complete["math_score"] > 69]
passingmcount = len(passingm["Student ID"].unique())
math_percent = "{:.2f}%".format(passingmcount / total_students * 100)
passingr = school_data_complete.loc[school_data_complete["reading_score"] > 69]
passingrcount = len(passingr["Student ID"].unique())
read_percent = "{:.2f}%".format(passingrcount / total_students * 100)
pass_count = school_data_complete.loc[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69),"Student ID"].count()
pass_percent = "{:.2f}%".format(pass_count/ total_students * 100)

In [6]:
#Distric Summary table creation
district_summary_table = pd.DataFrame({"Total Schools": [total_schools],
                                       "Total Students":[total_students],
                                       "Total Budget":[total_budget],
                                       "Average Mathscore":[average_mathscore],
                                       "Average Reading Score":[average_readingscore],
                                       "% Passing Math":[math_percent],
                                       "% Passing Reading":[read_percent],
                                       "% Overall Passing":[pass_percent]})
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${0:,.2f}".format)
district_summary_table.head()

,Total Schools,Total Students,Total Budget,Average Mathscore,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [7]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635